<footer class="site-footer">
	<hr>
	<div class="container">
		<ul class="breadcrumbs">
			{{ template "breadcrumb" (dict "p1" . "p2" .) }}
		</ul>
		<a href="#top">back to top</a>
	</div>
</footer>

{{ define "breadcrumb" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumb" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumb" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}
  <li{{ if eq .p1 .p2 }} class="active"{{ end }}>
    <a href="{{ .p1.RelPermalink }}">{{ .p1.Title }}</a>
  </li>
{{ end }}