{{ define "main" }}
<main>
	<header class="section page-header">
		<div class="container">
			<h1 class="page-title">{{ .Title }}</h1>
			{{ partial "i18nlist.html" . }}
		</div>
	</header>
	<section class="section list">
		<div class="container">
			{{.Content}}
			{{ range .Pages.Reverse }}
				<article class="list-item">
				<a class="list-item__title" href="{{ .Permalink }}">
				{{ .Title }}
				</a>
				<p class="list-item__summary">{{.Summary}}</p>
			</article>
			{{ end }}
		</div>
	</section>
</main>
{{ end }}